.j_order_list{
	background-color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
	color:#666;
	border-bottom:1px #e2e2e2 solid;

}
.j_order_top{
	border-bottom:1px #c2c2c2 solid;


}
.j_order_li{
	color:#666;
	background-color:#f5f5f5;
	padding-top:5px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:-10px;
	margin-right:-10px;
	border:1px #e9e9e9 solid;
}
.j_order_li img{
	max-width:100%;
}

.j_order_li_head{
	color:#666;

}
.j_order_li_head,.j_order_li_head div{
	padding-left:2px;
	padding-right:2px;
}
.j_order_li_head span:nth-child(1){
	display:block;
	float:left;
	padding-bottom:5px;
}
.j_order_li_head span:nth-child(2){
	display:block;
	float:right;
	padding-bottom:5px;
}
.j_order_li_info{
	background-color:#fff;
	padding-top:10px;
	/*padding-bottom:10px;*/
}
.mobile_quantity,.mobile_price{
	display:none;
}
.mobile_details{
	color:#F60;
}
.j_pay{
	color:#F60;
}
.j_wait_delivery{
	color:#069;
}
.j_order_no{
	padding-top:40px;
	padding-bottom:40px;
	color:#666;
}
.mobile_total_hide{
	display:none;
}
.pc_details span+span{
	display:block;
	/*width:60px;*/
	/*margin-top:5px;*/

}
.pc_details span:nth-child(1){
	margin-right:5px;
	margin-top:5px;
}
.pc_details span:nth-child(2){
	margin-right:5px;
	margin-top:5px;
}
.pc_details span:nth-child(3){
	margin-right:5px;
	margin-top:10px;
}
.pc_details span:nth-child(4){
	margin-right:5px;
	margin-top:10px;
}
.mobile_all{
	display:none;
	float:right;
}
.float_left{
	float:left;
}
.pc_detail1{
	float:left;
}
.pc_detail2{
	float:left;
}
.pc_detail3{
	float:left;
}
.pc_detail4{
	float:right;
}
@media (max-width: 768px) {
	.j_order_li_info{
		padding-bottom:8px;
	}
	.mobile_all{
	    display:block;
    }
	.j_order_li_head{
		color:#999;
		font-size:1.2rem;
	}
	.j_order_li{
		color:#666;
	}
	.j_order_list{
		display:none;
	}
	.mobile_left{
		text-align:left;
	}
	.mobile_rihgt{
		text-align:right;
	}
	.mobile_center{
		text-align:center;
	}
	.mobile_details{
		border-top:1px #e9e9e9 solid;
		padding-top:8px;
		padding-left:5px;
		padding-right:5px;
	}
	.pc_details span+span{
		display:inline;
		margin-top:0px;
	}

	.pc_details span:nth-child(1){
			margin-right:5px;	
	}
	.pc_details span:nth-child(2){
			margin-right:5px;	
	}
	.pc_details span:nth-child(3){
			margin-right:5px;	
	}
	.pc_details span:nth-child(4){
			margin-right:5px;	
	}
.mobile_detail1{
	float:none !important
}
.mobile_detail2{
	float:none !important
}
.mobile_detail3{
	float:none !important
}

	

	
	.mobile_states,.mobile_total{
		border-top:1px #e9e9e9 solid;
		padding-top:8px;
		padding-bottom:8px;
		padding-left:5px;
		padding-right:5px;
	}
	
	.j_order_mobile{
		font-size:1.2rem;
	}
	.mobile_quantity,.mobile_price{
		display:block;
		font-size:1.2rem;
    }

	.j_order_li_head{
		padding-top:0px;
		padding-bottom:0px;
	}
	.mobile_img{

	}
	.j_roder_page{
		display:none;
	}
	.mobile_total_hide{
		display:inline;
	}
	.mobile_order{
		display:none;
	}

}
@media (max-width: 1200px) {
	.pc_details span{
		float:right;
	}
	.pc_details span:nth-child(3){
		margin-top:0px;
		margin-bottom:0px;
	}
	.pc_details span:nth-child(4){
		margin-top:0px;
		margin-bottom:0px;
	}

}

.mobile_details .btn{
	min-width:60px;
}
@media (max-width: 768px) {
.j_order_li_head span:nth-child(2){
	float:left;
}
}