@(user :User, shipInfoId :Long)
@front_frame("XWC Mall", "", "") {
    <link href='@routes.Assets.at("css/user.css")' rel="stylesheet" type="text/css">
    <link href='@routes.Assets.at("css/address.css")' rel="stylesheet" type="text/css">
    <script src='@routes.Assets.at("plugins/distpicker/distpicker.data.js")'></script>
    <script src='@routes.Assets.at("plugins/distpicker/distpicker.js")'></script>
    <link href='@routes.Assets.at("plugins/distpicker/daimabiji-demo.css")' rel="stylesheet" type="text/css">

    <script src="@routes.Assets.at("js/angular.min.js")"></script>
    <script src='@routes.Assets.at("js/controllers/address_new_controller.js")'></script>

    <div class="main mobile_border_bottom" ng-app="AddressNewApp" ng-controller="AddressNewController">
        <div class="container j_main">
            <div class="row">
                    <!--BEGIN LEFT-->
                <div class="col-sm-12 col-xs-12 col-md-2 j_user_left mobile_hides" >
                    <div class="j_user text-center margin-top-10">
                        <div class="j_user_face"><img src="@user.headImage"></div>
                        <div class="j_user_name">@user.name (No.@user.id)</div>
                        <div class="j_user_level"><span>@play.i18n.Messages.get("credit") @user.vipPoint</span></div>
                        <div class="j_user_reg">@play.i18n.Messages.get("register.time")：
                            @LyLib.Utils.DateUtil.Date2Str(user.createdAt, "yyyy-MM-dd")
                        </div>
                    </div>
                </div>
                    <!--END LEFT-->

                    <!--BEGIN RIGHT-->
                <div class="col-sm-12 col-xs-12 col-md-10 j_user_right" >
                    <div class="row ">
                        <div class="col-sm-12 col-xs-12 col-md-12" >
                            <div class="row j_user_top">
                                <div class="col-sm-6 col-xs-6 col-md-6">
                                    <div class="padding-top-8">
                                        @if(shipInfoId == null){
                                            @play.i18n.Messages.get("address.new.title")
                                        }else{
                                            @play.i18n.Messages.get("edit.shipinfo")
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6 col-md-6 text-right" >
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!--BEGIN ADDRESS LI-->
                    <div class="row j_user_address j_user_add">
                        <div class="col-sm-12 col-xs-12 col-md-12">
                            <div class="row">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group" >
                                        <label for="firstname" class="col-sm-2 col-md-2 col-xs-3 control-label" >
                                        @play.i18n.Messages.get("address.name")</label>
                                        <div class="col-sm-2 col-md-2 col-xs-6">
                                            <input type="text" class="form-control" id="firstname"
                                            placeholder="@play.i18n.Messages.get("address.name.keyin")"
                                            ng-model="newAddress.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-2 col-md-2 col-xs-3 control-label">
                                        @play.i18n.Messages.get("address.phone")</label>
                                        <div class="col-sm-3 col-md-3 col-xs-6">
                                            <input type="text" class="form-control" id="lastname"
                                            placeholder="@play.i18n.Messages.get("address.phone.keyin")"
                                            ng-model="newAddress.phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-2 col-md-2 col-xs-3 control-label">
                                        @play.i18n.Messages.get("address.group")</label>
                                        <div class="col-sm-2 col-md-2 col-xs-6">

                                            <div id="distpicker2">
                                                <div class="form-group j_a">
                                                    <label class="sr-only" for="province2">
                                                    </label>
                                                    <select class="form-control" id="province2"
                                                    data-province="">
                                                    </select>
                                                </div>
                                                <div class="form-group j_a">
                                                    <label class="sr-only" for="city2">
                                                    </label>
                                                    <select class="form-control" id="city2"
                                                    data-city="">
                                                    </select>
                                                </div>
                                                <div class="form-group j_a">
                                                    <label class="sr-only" for="district2">
                                                    </label>
                                                    <select class="form-control" id="district2"
                                                    data-district="">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-2 col-md-2 col-xs-3 control-label">
                                        @play.i18n.Messages.get("address.location")
                                        </label>
                                        <div class="col-sm-6 col-md-6 col-xs-8">
                                            <input type="text" class="form-control" id="lastname"
                                            placeholder="@play.i18n.Messages.get("address.location.keyin")"
                                            ng-model="newAddress.location">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10 col-md-10 col-xs-9 col-xs-offset-3 text-left">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="add_choose"
                                                    ng-model="newAddress.isDefault" /><i></i>
                                                    @play.i18n.Messages.get("address.set.default")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-primary"
                                            ng-click="addAddress(@user.id, '@play.i18n.Messages.get("address.no.name")', '@play.i18n.Messages.get("address.no.phone")', '@play.i18n.Messages.get("address.no.location")', '@play.i18n.Messages.get("address.no.province")', '@play.i18n.Messages.get("address.no.city")', '@play.i18n.Messages.get("address.no.zone")')">
                                            @if(shipInfoId == null){
                                                @play.i18n.Messages.get("address.create.btn")
                                            }else{
                                                @play.i18n.Messages.get("edit.shipinfo")
                                            }
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                        <!--END ADDRESS LI-->

                </div>
                <div class="j_clear"></div>
                    <!--END RIGHT-->

            </div>
        </div>
    </div>

    <div class="disappare" style="display: none;">
        <p><i class="icon iconfont icon-chenggong"></i></p>
        <h4 class="j_disappare_text"></h4>
    </div>
}
