<div class="row">
	<div class="col-xs-12">
		<form class="form-horizontal" role="form" name="myform" ng-submit="formSave(myform.$valid)" novalidate>


			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right">
					搜索:
				</label>
				<div class="col-sm-9">
					<input type="text" ng-model="currentObj.queryKeyword4Product" class="form-control" placeholder="按{{searchFieldNameProductComment}}搜" style="display: inline-block; width: 140px;text-align: center;" />
					<div class="btn btn-primary" ng-click="searchContent4Product()">搜索</div>
				</div>
			</div>
            
            <div class="form-group">
        		<label class="col-sm-3 control-label no-padding-right" > {{objFieldInfo.Catalog.products}}: </label>
        		<div class="col-sm-9">
        			<div ui-grid="gridFriendsProduct" ui-grid-resize-columns ui-grid-selection ui-grid-auto-fit-columns></div>
        		    <br>
        		</div>
        	</div>

	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.showIndex}}:
                </label>
		        <div class="col-sm-9">
                    <input type="number" name="showIndex" ng-model="currentObj.showIndex" class="col-xs-10 col-sm-5 button_border" />
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.name}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="name" ng-model="currentObj.name" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.nameEn}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="nameEn" ng-model="currentObj.nameEn" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.nameHk}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="nameHk" ng-model="currentObj.nameHk" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.nameJa}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="nameJa" ng-model="currentObj.nameJa" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.images}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="images" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'images', currentObj, false)"/><div ng-repeat="imageName in currentObj.images.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'images', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.smallImages}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="smallImages" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'smallImages', currentObj, false)"/><div ng-repeat="imageName in currentObj.smallImages.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'smallImages', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.imagesEn}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="imagesEn" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'imagesEn', currentObj, false)"/><div ng-repeat="imageName in currentObj.imagesEn.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'imagesEn', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.smallImagesEn}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="smallImagesEn" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'smallImagesEn', currentObj, false)"/><div ng-repeat="imageName in currentObj.smallImagesEn.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'smallImagesEn', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.imagesHk}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="imagesHk" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'imagesHk', currentObj, false)"/><div ng-repeat="imageName in currentObj.imagesHk.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'imagesHk', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.smallImagesHk}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="smallImagesHk" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'smallImagesHk', currentObj, false)"/><div ng-repeat="imageName in currentObj.smallImagesHk.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'smallImagesHk', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.imagesJa}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="imagesJa" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'imagesJa', currentObj, false)"/><div ng-repeat="imageName in currentObj.imagesJa.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'imagesJa', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.smallImagesJa}}:
                </label>
		        <div class="col-sm-9">
		            <div><input type="file" name="smallImagesJa" accept="image/gif,image/jpeg,image/jpg,image/png" ng-file-select="uploadImage($files, 'smallImagesJa', currentObj, false)"/><div ng-repeat="imageName in currentObj.smallImagesJa.split(',')"><div ng-show="imageName"><a class="fancybox" target="_blank" data-fancybox-group="gallery" fancybox ng-href="/showImage/{{imageName}}"><img ng-src="/showimg/thumb/{{imageName}}" style="width:50px;height:50px;float:left"></a><input type="button" ng-click="deleteImage(currentObj, 'smallImagesJa', imageName)" value="删除" style="float:left" /></div></div></div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.description}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="description" ng-model="currentObj.description" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionTwo}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionTwo" ng-model="currentObj.descriptionTwo" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionEn}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionEn" ng-model="currentObj.descriptionEn" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionTwoEn}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionTwoEn" ng-model="currentObj.descriptionTwoEn" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionHk}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionHk" ng-model="currentObj.descriptionHk" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionTwoHk}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionTwoHk" ng-model="currentObj.descriptionTwoHk" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionJa}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionJa" ng-model="currentObj.descriptionJa" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.descriptionTwoJa}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="descriptionTwoJa" ng-model="currentObj.descriptionTwoJa" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label no-padding-right">
                    {{objFieldInfo.Catalog.comment}}:
                </label>
		        <div class="col-sm-9">
                    <input type="text" name="comment" ng-model="currentObj.comment" class="col-xs-10 col-sm-5 button_border" />
		            <span class="help-inline col-xs-12 col-sm-7"> <span class="middle">* 不超过200字</span></span>
		        </div>
	        </div>
			<div class="form-group" ng-show="myform.$invalid">
    			<label class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
			      <div class="alert alert-warning" style="margin-bottom: 0px">
			        <ul>                    
                        <li ng-show='myform.showIndex.$error.maxlength'>{{objFieldInfo.Catalog.showIndex}} 超出长度！</li>
                        <li ng-show='myform.name.$error.maxlength'>{{objFieldInfo.Catalog.name}} 超出长度！</li>
                        <li ng-show='myform.nameEn.$error.maxlength'>{{objFieldInfo.Catalog.nameEn}} 超出长度！</li>
                        <li ng-show='myform.nameHk.$error.maxlength'>{{objFieldInfo.Catalog.nameHk}} 超出长度！</li>
                        <li ng-show='myform.nameJa.$error.maxlength'>{{objFieldInfo.Catalog.nameJa}} 超出长度！</li>
                        <li ng-show='myform.lastUpdateTime.$error.maxlength'>{{objFieldInfo.Catalog.lastUpdateTime}} 超出长度！</li>
                        <li ng-show='myform.description.$error.maxlength'>{{objFieldInfo.Catalog.description}} 超出长度！</li>
                        <li ng-show='myform.descriptionTwo.$error.maxlength'>{{objFieldInfo.Catalog.descriptionTwo}} 超出长度！</li>
                        <li ng-show='myform.descriptionEn.$error.maxlength'>{{objFieldInfo.Catalog.descriptionEn}} 超出长度！</li>
                        <li ng-show='myform.descriptionTwoEn.$error.maxlength'>{{objFieldInfo.Catalog.descriptionTwoEn}} 超出长度！</li>
                        <li ng-show='myform.descriptionHk.$error.maxlength'>{{objFieldInfo.Catalog.descriptionHk}} 超出长度！</li>
                        <li ng-show='myform.descriptionTwoHk.$error.maxlength'>{{objFieldInfo.Catalog.descriptionTwoHk}} 超出长度！</li>
                        <li ng-show='myform.descriptionJa.$error.maxlength'>{{objFieldInfo.Catalog.descriptionJa}} 超出长度！</li>
                        <li ng-show='myform.descriptionTwoJa.$error.maxlength'>{{objFieldInfo.Catalog.descriptionTwoJa}} 超出长度！</li>
                        <li ng-show='myform.comment.$error.maxlength'>{{objFieldInfo.Catalog.comment}} 超出长度！</li>
			        </ul>
			      </div>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 no-padding-right">
					<input type="button" class="btn btn-danger" value="取消" ng-click="dialogClose()" style="float:right;margin: 0 -11%;"/>
					<input type="submit" class="btn btn-primary" value="确定" ng-disabled="myform.$invalid" style="float:right;"/>
				</div>
			</div>
		</form>
	</div>
</div>
